body {
    background-color:hsl(120,100%,50%);
}

ul {
    display: table;
    margin: 0 auto;
}

.title {
    text-align:center;
    font-size:40px;
    background-color:#F00;
    color:rgb(255,255,255);
}

